@using Microsoft.AspNet.Identity

@{
	var uid = User.Identity.GetUserId();
}

@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
	{
		@Html.AntiForgeryToken()


		<ul class="nav navbar-nav navbar-right mr-0">
			<li class="nav-item dropdown">
				<a href=@Url.Action("Index", "Manage") class="nav-link dropdown-toggle active" data-toggle="dropdown">
					Hello @User.Identity.GetUserName()!
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					<div class="dropdown-item">
						<a href=@Url.Action("Index", "Manage") class="nav-link text-dark text-right">
							Manage Account
						</a>
					</div>
					<div class="dropdown-item">
						<a href=@Url.Action("AddCustomerDetails", "Customer", new { userId = uid }) class="nav-link text-dark text-right">
							Manage Customer
						</a>
					</div>
					<div class="dropdown-item">
						<a href=@Url.Action("Index", "Order") class="nav-link text-dark text-right">
							Order History
						</a>
					</div>
					<div class="dropdown-divider"></div>
					<div class="dropdown-item">
						<a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link text-dark text-right">Log off</a>
					</div>
				</div>
				</li>
		</ul>
	}
}
else
{
<ul class="nav navbar-nav navbar-right mr-0">
	<li class="nav-item"><a href="/Account/Register" id="registerLink" class="nav-link">Register</a></li>
	<li class="nav-item"><a href="/Account/Login" id="loginLink" class="nav-link">Log in</a></li>
</ul>
}
