@model IEnumerable< IEnumerable < MovieStore.Models.Movie>>
@{
	ViewBag.Title = "Start Page";
}
<br />
<div class="jumbotron">
	<h2>6 Most Popular Movies</h2>
	<div class="container-fluid">
		<div class="row">
			@foreach (var movie in Model.ElementAt(0))
			{
				@Html.Partial("_MovieDetailsPartial", movie)
			}
		</div>
	</div>
</div>
<div class="jumbotron pt-4">
	<h2>Top 6 Newest Movies</h2>
	<div class="container-fluid">
		<div class="row">
			@foreach (var movie in Model.ElementAt(1))
			{
				@Html.Partial("_MovieDetailsPartial", movie)
			}
		</div>
	</div>
</div>
<div class="jumbotron pt-4">
	<h2>Top 6 Oldest Movies</h2>
	<div class="container-fluid">
		<div class="row">
			@foreach (var movie in Model.ElementAt(2))
			{
				@Html.Partial("_MovieDetailsPartial", movie)
			}
		</div>
	</div>
</div>
<div class="jumbotron pt-4">
	<h2>Top 6 Cheapest Movies</h2>
	<div class="container-fluid">
		<div class="row">
			@foreach (var movie in Model.ElementAt(3))
			{
				@Html.Partial("_MovieDetailsPartial", movie)
			}
		</div>
	</div>
</div>
<div class="jumbotron">
	<h2>Best Customer!</h2>
	<div class="container">
		@* TODO: Implement me! *@
		Not Yet Implemented! :(
	</div>
</div>
